<header class="jumbotron">
  <h1 class="container">JankyMail<sup>&trade;</sup> 2015<sup>&reg;</sup></h1>
  <nav role='navigation'>
    <ul class='nav nav-tabs nav-justified'>
      <li class="active">{{#link-to 'inbox'}}Inbox{{/link-to}}</li>
      <li><a href="#sent">Sent</a></li>
      <li><a href="#sent">Compose</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  {{ outlet }}
</div>
