<header class="jumbotron">
  <h1 class="container">JankyMail<sup>&trade;</sup> 2015<sup>&reg;</sup></h1>
  <nav role="navigation">
    <ul class="nav nav-tabs nav-justified">
      {{#link-to "inbox" tagName="li" role="presentation"}}
        <a href="/#/inbox">Inbox</a>
      {{/link-to}}
      {{#link-to "sent" tagName="li" role="presentation"}}
        <a href="/#/sent">Sent</a>
      {{/link-to}}
      {{#link-to "compose" tagName="li" role="presentation"}}
        <a href="/#/compose">Compose</a>
      {{/link-to}}
    </ul>
  </nav>
</header>

<div class="container">
  {{ outlet }}
</div>
