<h2>Inbox</h2>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Sender</th>
    </tr>
  </thead>
  <tbody>
  {{#each email in model}}
  <tr>
    <td>{{#link-to 'email' email}}{{email.subject}}{{/link-to}}</td>
    <td><a href="#">{{email.sender}}</a></td>
  </tr>
  {{/each}}
  </tbody>
</table>
