body {
  margin-bottom: 80px;
  font-family: "VT323", monospace;
  font-size: 20px;
  text-transform: uppercase;
}

.jumbotron {
  padding: 3rem 0 0 0;
}

h1,
h2,
h3 {
  font-family: "VT323", monospace;
}

a {
  display: block;
  cursor: default;
}
a::before {
  display: inline-block;
  vertical-align: top;
  margin-right: .125em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
}
a[href*="github.com"]::before {
  content: "\f09b";
}

footer a {
  display: inline;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
  background-color: ##060606;
  margin-bottom: 0;
  padding-top: 10px;
  border-top: 1px solid #d0dad8;
}

.nav-tabs.nav-justified > li > a,
.nav-pills > li > a,
.btn,
.form-control {
  border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: transparent;
  box-shadow: inset 0 -.5rem 0 #2a9fd6;
  border-color: transparent !important;
  border-bottom: 1px solid #2a9fd6 !important;
  }

table,
.table,
.btn,
.form-control {
  font-size: 20px;
}

.btn {
  padding: 10px 15px;
  text-transform: uppercase;
}

td + td,
th + th {
  text-align: right;
}

td + td + td,
th + th + th {
  text-align: center;
}

nav {
  margin-top: 4rem;
}

section + section {
  margin-top: 4rem;
}

td {
  padding: 0 !important;
  vertical-align: middle !important;
}

td a {
  padding: 8px;
}

.btn-primary {
  background: transparent;
  color: #2a9fd6 !important;
}
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background: #2a9fd6 !important;
    color: #fff !important;
  }

.btn-success {
  background: transparent;
  color: #77b300;
}

.btn-danger {
  background: transparent;
  color: #cc0000;
}
  .btn-danger:hover,
  .btn-danger:active,
  .btn-danger:focus {
    background: #cc0000 !important;
  }

.disabled a:hover {
  background: #424242 !important;
  border-color: #424242 !important;
}

.form-control {
  background: #222;
}
